* {
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
  font-family: "Fraunces", serif;
}

h1, h2, h3 {
  font-family: "Barlow", sans-serif;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}
.nav-bar .github-logo-1 {
  display: none;
}
.nav-bar .nav-links {
  display: none;
}
.nav-bar .hamburger {
  cursor: pointer;
  align-self: flex-end;
  padding: 5%;
}
.nav-bar .hamburger svg {
  max-width: 4em;
  max-height: 4em;
  fill: #fff5bb;
}
.nav-bar .nav-box {
  width: 85%;
  background-color: #fff5bb;
  margin-top: 0;
  position: relative;
}
.nav-bar .nav-box .nav-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.nav-bar .nav-box .nav-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}
.nav-bar .nav-box .nav-links ul .github-logo-2 {
  margin: 0;
}
.nav-bar .nav-box .nav-links ul .github-logo-2 svg {
  max-height: 30px;
  max-width: 30px;
}
.nav-bar .nav-box .nav-links ul li {
  width: 100%;
}
.nav-bar .nav-box .nav-links ul a {
  text-decoration: none;
  margin: 4%;
  color: #006666;
  font-family: "Fraunces", serif;
}
.nav-bar .nav-box .nav-links ul a:hover {
  color: red;
}
.nav-bar .nav-box::before,
.nav-bar .nav-box::after {
  content: "";
  width: 0;
  height: 0;
  right: 0;
  position: absolute;
}

.flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.intro {
  padding: 10%;
  height: clamp(300px, 35vh, 50vh);
}
.intro h1 {
  font-size: 2.5em;
  color: #fff5bb;
}
.intro p {
  color: #fff5bb;
}

.about-me {
  background-color: #fff5bb;
  margin: 0;
}
.about-me h2 {
  padding-top: 10%;
  border-bottom: 1px solid black;
  padding: 4%;
}
.about-me p {
  text-align: center;
  font-size: 1.1rem;
  margin: 0 auto;
  padding: 4%;
  word-spacing: 40%;
}
.about-me p:last-child {
  margin-top: 0;
}
.about-me img {
  display: none;
}
.about-me .main-hobby {
  display: block;
  width: 70px;
  height: 70px;
  margin-bottom: 20%;
}

.tech-stack {
  margin: 0 auto;
  text-align: center;
}
.tech-stack h2 {
  color: #fff5bb;
  border-bottom: 1px solid #fff5bb;
  padding: 4%;
}
.tech-stack .tech-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}
.tech-stack h3 {
  display: none;
}
.tech-stack .tech-imgs {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tech-stack .tech-imgs img, .tech-stack .tech-imgs svg {
  max-height: 40px;
  max-width: 40px;
  margin: 5%;
}

.work h2 {
  color: #fff5bb;
  text-align: center;
  border-bottom: 1px solid #fff5bb;
  width: 110px;
  padding: 4%;
}
.work .carousel {
  position: relative;
  height: 520px;
  margin: 0 auto;
  padding: 0;
  width: 80%;
}
.work .carousel .carousel-track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.work .carousel .carousel-track-container .carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}
.work .carousel .carousel-track-container .carousel-track .carousel-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff5bb;
  text-align: center;
}
.work .carousel .carousel-track-container .carousel-track .carousel-slide .carousel-image {
  width: 100%;
  height: 20%;
}
.work .carousel .carousel-track-container .carousel-track .carousel-slide .work-heading {
  font-size: 1.5em;
}
.work .carousel .carousel-track-container .carousel-track .carousel-slide .work-text {
  text-align: center;
}
.work .carousel .carousel-track-container .carousel-track .carousel-slide .work-tech {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.work .carousel .carousel-track-container .carousel-track .carousel-slide .project-links {
  width: 100%;
  display: flex;
  justify-content: center;
}
.work .carousel .carousel-track-container .carousel-track .carousel-slide .project-links a {
  margin: 3%;
  text-decoration: none;
  color: red;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  border: 1px solid white;
  border-radius: 10%;
  padding: 1%;
}
.work .btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  fill: #fff5bb;
  cursor: pointer;
}
.work .btn:hover {
  fill: red;
}
.work .btn-left {
  left: -30px;
}
.work .btn-right {
  right: -30px;
}

.contact-me h2 {
  color: #fff5bb;
  text-align: center;
  border-bottom: 1px solid #fff5bb;
  padding: 4%;
  margin: 0;
}
.contact-me .container {
  width: 80%;
}
.contact-me .container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-me .container form .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.contact-me .container form .form-group input {
  background-color: #fff5bb;
  color: #006666;
}
.contact-me .container form .form-group label {
  color: #fff5bb;
  font-size: 1.2em;
  margin: 2%;
}
.contact-me .container form .form-group textarea {
  width: 80%;
  height: 7em;
  background-color: #fff5bb;
  color: #006666;
  resize: vertical;
}
.contact-me .container form button {
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  cursor: pointer;
  margin: 5%;
  padding: 2%;
  border: 2px solid white;
  color: #006666;
  border-radius: 30px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.29), inset 1px 1px 1px rgba(255, 255, 255, 0.44);
}
.contact-me .container form button:hover {
  background-color: #006666;
  color: #fff5bb;
}
.contact-me #status {
  height: 25px;
  width: 40%;
  margin: 0 auto;
  margin: 2%;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}
.contact-me .success {
  background-color: lightgreen;
  -webkit-animation: status 4s ease forwards;
          animation: status 4s ease forwards;
}
.contact-me .error {
  background-color: lightcoral;
  -webkit-animation: status 4s ease forwards;
          animation: status 4s ease forwards;
}
@-webkit-keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}/*# sourceMappingURL=style.css.map */